<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!-- <meta name="viewport" content="height = [pixel_value | device-height] ,
width = [pixel_value | device-width ] ,
initial-scale = float_value ,
minimum-scale = float_value ,
maximum-scale = float_value ,
user-scalable = [yes | no] ,
target-densitydpi = [dpi_value | device-dpi | high-dpi | medium-dpi | low-dpi]"/> -->
  <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="static/js/highcharts.js"></script>
  <script type="text/javascript" src="static/js/charts.js"></script>
  <!-- <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script> -->
  <script>
    //左侧Javascript代码
  </script>
</head>
<body>
	<div id='btnDiv'>
  		<p>stock code: <input type="text" id="stockCode" />
  	 	limitCount: <input type="text" id="limitCount" value="12"/>
  	 	<button id ="btnName" value="Submit">Search</button></p>
	</div>
	<div id="container" style="min-width:700px;height:400px"></div>
</body>
</html>